# CC3220/CC32XX SDK HAL configuration

config HAS_CC3220SDK
	bool

# Notes:
# SimpleLink drivers require types (stdint.h) from c library which is not
# provided by minimal lbc
# Selecting ERRNO lets host driver use Zephyr's __errno
# Selecting POSIX_THREADS and POSIX_API are needed to build the host driver
config SIMPLELINK_HOST_DRIVER
	bool "Build the SimpleLink WiFi Host Driver"
	depends on HAS_CC3220SDK
	depends on MULTITHREADING
	select REQUIRES_FULL_LIBC
	select ERRNO
	select POSIX_THREADS
	select POSIX_TIMERS
	help
	  Build the SimpleLink host driver

# MSP432 SDK HAL configuration

config HAS_MSP432P4XXSDK
	bool
	select HAS_CMSIS_CORE

# CC13X2 / CC26X2 SDK HAL configuration

config HAS_CC13X2_CC26X2_SDK
	bool

config HAS_CC13X2X7_CC26X2X7_SDK
	bool

# CC23X0 SDK HAL configuration

config HAS_CC23X0_SDK
	bool

# CC27XXX10 SDK HAL configuration

config HAS_CC27XXX10_SDK
	bool

# CC27XXX20 SDK HAL configuration

config HAS_CC27XXX20_SDK
	bool

# CC35XX SDK HAL configuration
config HAS_CC35XX_SDK
	bool

#====== LogSinkTrace ======#

config SIMPLELINK_LPF3_TRACE
	bool "LogSinkTrace"
	depends on SOC_SERIES_CC27XX || SOC_SERIES_CC23X0
	default n
	help
	  Enable LogSinkTrace for debugging and tracing purposes

config SIMPLELINK_LPF3_TRACE_CONFIG_PREGEN
	bool "Use the pre-generated log configurations"
	depends on SIMPLELINK_LPF3_TRACE
	default y
	help
	  Use the pre-generated log configuration files ti_log_config.[h|c]
	  under ti/log/zephyr/. Applications can provide their own log
	  configurations to enable logging in other TI drivers or configure
	  application-specific log modules.

choice SIMPLELINK_LPF3_TRACE_PRESCALER

	prompt "RF Tracer Prescaler"
	depends on SIMPLELINK_LPF3_TRACE
	default SIMPLELINK_LPF3_TRACE_PRESCALER_DIV1
	help
	  The divisor that the RF Core main clock is divided by. "Divide by 3",
	  for example, divides the clock speed by 3. The clock speed of the RF
	  Tracer may need to be reduced if experiencing signal quality issues
	  on the tracer signal.

config SIMPLELINK_LPF3_TRACE_PRESCALER_DIV1
	bool "Divide by 1"

config SIMPLELINK_LPF3_TRACE_PRESCALER_DIV2
	bool "Divide by 2"

config SIMPLELINK_LPF3_TRACE_PRESCALER_DIV3
	bool "Divide by 3"

config SIMPLELINK_LPF3_TRACE_PRESCALER_DIV4
	bool "Divide by 4"

endchoice

choice SIMPLELINK_LPF3_TRACE_MODE

	prompt "RF Tracer Mode"
	depends on SIMPLELINK_LPF3_TRACE
	default SIMPLELINK_LPF3_TRACE_MODE_CPU_RADIO
	help
		The RF tracer modes allow for selecting the source of the trace
		messages. The source can be the radio (LRF domain) and/or the
		system CPU (Applications and other modules).

config SIMPLELINK_LPF3_TRACE_MODE_CPU_ONLY
	bool "CPU only"

config SIMPLELINK_LPF3_TRACE_MODE_RADIO_ONLY
	bool "Radio only"

config SIMPLELINK_LPF3_TRACE_MODE_CPU_RADIO
	bool "CPU and Radio"

endchoice

config SIMPLELINK_LPF3_TRACE_TIMESTAMP
	bool "Timestamp Enabled"
	default y
	depends on SIMPLELINK_LPF3_TRACE
	help
	  When timestamps are enabled, the log elements have timestamps
	  associated with them.
