# TI CC23X0_CC27XX DMA configuration options

# Copyright (c) 2024 BayLibre, SAS
# SPDX-License-Identifier: Apache-2.0

config DMA_TI_CC23X0_CC27XX
	bool "TI CC23X0_CC27XX DMA driver"
	default y
	depends on DT_HAS_TI_CC23X0_CC27XX_DMA_ENABLED
	help
	  DMA driver for TI CC23X0_CC27XX MCUs.
