# TI CC23x0_CC27xx SPI configuration options

# Copyright (c) 2024 BayLibre, SAS
# SPDX-License-Identifier: Apache-2.0

config SPI_CC23X0_CC27XX
	bool "TI SimpleLink CC23x0_CC27XX SPI driver"
	default y
	depends on DT_HAS_TI_CC23X0_CC27XX_SPI_ENABLED
	select PINCTRL
	help
	  Enable support for the TI SimpleLink CC23x0_CC27xx SPI peripheral

config SPI_CC23X0_CC27XX_DMA_DRIVEN
	bool "DMA support for TI CC23X0_CC27XX SPI devices"
	depends on SPI_CC23X0_CC27XX
	select DMA
	help
	  DMA driven mode offloads data transfer tasks from the CPU
