#
# Copyright (c) 2025 Conclusive Engineering Sp. z o.o.
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_SHARED_MULTI_HEAP=y

CONFIG_GPIO=y
CONFIG_GPIO_GET_CONFIG=y
CONFIG_GPIO_GET_DIRECTION=y
CONFIG_GPIO_HOGS=y
CONFIG_GPIO_SHELL=y
CONFIG_GPIO_SHELL_INFO_CMD=y
CONFIG_GPIO_SHELL_TOGGLE_CMD=y
CONFIG_GPIO_SHELL_BLINK_CMD=y

CONFIG_SERIAL=y

CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SHELL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_SHELL_BACKEND_SERIAL_INTERRUPT_DRIVEN=y
CONFIG_SHELL_BACKEND_SERIAL_API_INTERRUPT_DRIVEN=y

CONFIG_FLASH=y
CONFIG_SOC_FLASH_CC35XX=y
CONFIG_FLASH_SHELL=y

CONFIG_SPI=y
CONFIG_SPI_CC35XX=y
CONFIG_SPI_SHELL=y

CONFIG_ENTROPY_CC35XX_RNG=y
CONFIG_ENTROPY_GENERATOR=y

CONFIG_RTC=y
CONFIG_RTC_TI_CC35XX=y
CONFIG_RTC_SHELL=y
